<br />
<h2>Google Product Feed</h2>
<hr>
<div data-hook="admin_product_form_name">


   <%= f.field_container :product_feed_active, class: ['form-group'] do %>
     <%= f.label :product_feed_active, Spree.t(:product_feed_active) %>
     <%= f.error_message_on :product_feed_active %>
     <%= f.check_box :product_feed_active, class: 'form-control' %>
   <% end %>


  <%= f.field_container :product_feed_condition, class: ['form-group'] do %>
    <%= f.label :product_feed_condition, raw(Spree.t(:product_feed_condition) + content_tag(:span, ' *', class: 'required')) %>
    <%= f.text_field :product_feed_condition, class: 'form-control title' %>
    <%= f.error_message_on :product_feed_condition %>
  <% end %>

  <%= f.field_container :product_feed_description, class: ['form-group'] do %>
    <%= f.label :product_feed_description, raw(Spree.t(:product_feed_description) + content_tag(:span, ' *', class: 'required')) %>
    <%= f.text_field :product_feed_description, class: 'form-control title' %>
    <%= f.error_message_on :product_feed_description %>
  <% end %>

  <%= f.field_container :product_feed_brand, class: ['form-group'] do %>
    <%= f.label :product_feed_brand, raw(Spree.t(:product_feed_brand) + content_tag(:span, ' *', class: 'required')) %>
    <%= f.text_field :product_feed_brand, class: 'form-control title' %>
    <%= f.error_message_on :product_feed_brand %>
  <% end %>

  <%= f.field_container :product_feed_product_category, class: ['form-group'] do %>
    <%= f.label :product_feed_product_category, raw(Spree.t(:product_feed_product_category) + content_tag(:span, ' *', class: 'required')) %>
    <%= f.text_field :product_feed_product_category, class: 'form-control title' %>
    <%= f.error_message_on :product_feed_product_category %>
  <% end %>

  <%= f.field_container :product_feed_product_type, class: ['form-group'] do %>
    <%= f.label :product_feed_product_type, raw(Spree.t(:product_feed_product_type) + content_tag(:span, ' *', class: 'required')) %>
    <%= f.text_field :product_feed_product_type, class: 'form-control title' %>
    <%= f.error_message_on :product_feed_product_type %>
  <% end %>

<hr>
  <%= f.field_container :product_feed_gtin, class: ['form-group'] do %>
    <%= f.label :product_feed_gtin, raw(Spree.t(:product_feed_gtin) + content_tag(:span, ' *', class: 'required')) %>
    <%= f.text_field :product_feed_gtin, class: 'form-control title' %>
    <%= f.error_message_on :product_feed_gtin %>
  <% end %>

  <%= f.field_container :product_feed_mpn, class: ['form-group'] do %>
    <%= f.label :product_feed_mpn, raw(Spree.t(:product_feed_mpn) + content_tag(:span, ' *', class: 'required')) %>
    <%= f.text_field :product_feed_mpn, class: 'form-control title' %>
    <%= f.error_message_on :product_feed_mpn %>
  <% end %>

</div>
