<br />
<h2><%= Spree.t(:product_feed) %></h2>
<hr>
<div data-hook="admin_product_form_name">
 <%= f.field_container :product_feed_active, class: ['form-group'] do %>
  <%= f.check_box :product_feed_active %>
   <%= f.label :product_feed_active, Spree.t(:product_feed_active) %>
   <%= f.error_message_on :product_feed_active %>
 <% end %>

 <%= f.field_container :product_feed_title, class: ['form-group'] do %>
   <%= f.label :product_feed_title, Spree.t(:product_feed_title) %>
   <%= f.text_field :product_feed_title,  placeholder: Spree.t(:product_feed_title_placeholder_text), class: 'form-control title' %>
   <%= f.error_message_on :product_feed_title %>
 <% end %>

 <%= f.field_container :product_feed_description, class: ['form-group'] do %>
   <%= f.label :product_feed_description, Spree.t(:product_feed_description) %>
   <%= f.text_field :product_feed_description, placeholder: Spree.t(:product_feed_description_placeholder_text), class: 'form-control title' %>
   <%= f.error_message_on :product_feed_description %>
 <% end %>

  <%= f.field_container :product_feed_condition, class: ['form-group'] do %>
    <%= f.label :product_feed_condition, Spree.t(:product_feed_condition) %>
    <%= f.select :product_feed_condition, [['New','new'],['Used','used']], {}, {class: 'select2'} %>
    <%= f.error_message_on :product_feed_condition %>
  <% end %>


  <%= f.field_container :product_feed_product_category, class: ['form-group'] do %>
    <%= f.label :product_feed_product_category, Spree.t(:product_feed_product_category) %>
    <%= f.text_field :product_feed_product_category, placeholder: Spree.t(:product_feed_category_placeholder_text), class: 'form-control title' %>
    <%= f.error_message_on :product_feed_product_category %>
  <% end %>

  <%= f.field_container :product_feed_product_type, class: ['form-group'] do %>
    <%= f.label :product_feed_product_type, Spree.t(:product_feed_product_type) %>
    <%= f.text_field :product_feed_product_type, placeholder: Spree.t(:product_feed_type_placeholder_text), class: 'form-control title' %>
    <%= f.error_message_on :product_feed_product_type %>
  <% end %>
</div>
